.realtimeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.liveTaskCard {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    -webkit-box-shadow: 7px 2px 12px -7px rgba(184,184,184,1);
    -moz-box-shadow: 7px 2px 12px -7px rgba(184,184,184,1);
    box-shadow: 7px 2px 12px -7px rgba(184,184,184,1);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .realtimeContainer {
        flex-direction: row;
    }
}